@import "../1-helpers/variables";
@import "../2-base/typography";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: $default-text-size;
    font-family: $default-font;
    scroll-behavior: smooth;
}

a {
    color: black;
    text-decoration: none;
}