/* Typography */

// ********************
// fonts
// ********************
$first-category-text-font: "Open Sans",
"Helvetica",
"Arial",
sans-serif;
$second-category-text-font: "Open Sans",
"Helvetica",
"Arial",
sans-serif;
$third-category-text-font: "Open Sans",
"Helvetica",
"Arial",
sans-serif;

$special-font: 'roboto',
'pt sans',
arial,
sans-serif;