/* Typography */

// ********************
// fonts
// ********************
$first-category-text-font: arial,
sans-serif;
$second-category-text-font: arial,
sans-serif;
$third-category-text-font: roboto;

$special-font: 'roboto',
'pt sans',
arial,
sans-serif;