@import "../1-helpers/mixins";
@import "../1-helpers/variables";
@import "../2-base/typography";

.about-me {
    display: grid;
    grid-template-columns: auto;
    //grid-template-rows: minmax(100px, auto) minmax(30vh, auto) minmax(100vh, auto) auto 100vh auto;
    grid-template-rows: minmax(40vh, auto) minmax(100vh, auto) auto 100vh auto;
    grid-template-areas:
        //'menu'
        'title'
        'description'
        'achievements'
        'contact'
        'footer';
    //container
    min-height: 100vh;
    width: 100vw;

    &__header {
        grid-area: menu;
        position: fixed;
        z-index: 99;
        width: 100%;

        & .quick-info {
            //
        }

        & .menu {
            background-color: $white;
            z-index: 99;
        }
    }

    .section-title {
        grid-area: title;

        &__main-text {
            color: $white;
            font-size: $xsm_first-category-text-size;
            font-weight: $default-bold;
        }
    }

    &__description {
        grid-area: description;
        overflow: hidden;
    }

    &__description-content {
        height: auto;
        margin: $xsm_margin;
        padding: $xsm_padding;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__description-title {
        @include second-category-text-appearance;
        font-size: $xsm_second-category-text-size;
        align-self: flex-start;
    }

    &__description-name {
        @include first-category-text-appearance;
        font-size: $xsm_first-category-text-size;
        align-self: flex-start;

        .highlighted-text {
            color: $orange;
        }
    }

    &__description-text {
        @include third-category-text-appearance;
        justify-items: center;
        font-size: $xsm_third-category-text-size;
        margin: $xsm_margin;
        text-justify: auto;
    }

    &__description-image {
        height: 70%;
    }

    &__achievements {
        margin: $xsm_margin * 2;
        grid-area: achievements;
        min-height: 1000px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .achievements-block {
            width: 100%;
            height: 350px;
        }
    }

    &__achievements-trait-section {
        padding-top: $xsm_padding;
        min-height: 130px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    &__achievements-trait-section-title {
        @include second-category-text-appearance;
        font-size: $xsm_second-category-text-size;
        align-self: flex-start;
        margin-bottom: $xsm_margin - 5;
        text-transform: uppercase;
        color: $orange;

    }

    &__achievements-trait-section-text {
        @include third-category-text-appearance;
        text-align: justify;
    }

    .section-contact {
        grid-area: contact;
        background-color: $brown;
        color: $white;

        &__title {
            color: $white;
        }
        &__action-space {
            //
            .action-button {
                color: $white;
                border: 2px solid $white;
            }
        }
        &__text {
            color: $white;
        }
        &__number {
            color: $orange;
        }
    }

    .footer {
        grid-area: footer;
        min-height: 500px;
        background-color: $black;
    }
}