@import "../1-helpers/mixins";
@import "../1-helpers/variables";
@import "../2-base/typography";

.contact {
  // container
  min-height: 100vh;
  min-width: 100vw;

  display: grid;
  /*
    < lg
  */
  grid-template-columns: auto;
  grid-template-rows: minmax(60px, auto) minmax(30vh, auto) auto 50vh minmax(500px, auto);
  grid-template-areas:
  'menu'
  'title'
  'contact'
  'localization'
  'footer';

  /*
    > lg
  */
  @include media-query(lg) {
    grid-template-columns: auto;
    grid-template-rows: auto minmax(100vh, auto) 50vh auto;
    grid-template-areas:
      'title'
      'contact'
      'localization'
      'footer';
  }

  .header {
    grid-area: menu;
    position: fixed;
    z-index: 99;
    width: 100%;

    & .quick-info {
      display: none;

      @include media-query(lg) {
        display: none;
      }
    }

    & .menu {
      background-color: $white;
      z-index: 99;
    }
  }

  .section-title {
    grid-area: title;

    &__main-text {
      color: $white;
      font-weight: $default-bold;

      .highlighted-text {
        color: $white;
      }
    }
  }

  &__contact-section {
    grid-area: contact;
  }

  /*
    Mobile contact section
  */

  &__contact-section-mobile {

    @include media-query(lg) {
      display: none;
    }
  }

  &__contact-section-mobile-form-image {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .contact-form {
      margin: $xsm-margin 0;
      max-width: 350px;

      display: flex;
      flex-direction: row;
      justify-content: center;

      @include media-query(sm) {
        max-width: unset;
        width: 75%;
      }

      @include media-query(md) {
        height: auto;
        width: 500px;
      }
    }
  }

  &__contact-section-mobile-form-image::before {
    opacity: $default-background-opacity !important;
  }

  &__contact-section-mobile-form-image::after {
    opacity: $default-background-opacity !important;
  }

  &__contact-section-mobile-form-title {
    @include third-category-text-appearance;
    font-size: $xsm_third-category-text-size;
    margin: $xsm_margin * 2 $xsm_margin * 2 0 $xsm_margin * 2;

    @include media-query(sm) {
      width: 75%;
      font-size: $sm_third-category-text-size;
    }

    @include media-query(md) {
      font-size: $md_third-category-text-size;
    }
  }

  /*
    Desktop contact section
  */
  &__contact-section-desktop {
    display: none;

    @include media-query(lg) {
      width: 100%;
      height: 100%;
      display: block;
    }
  }

  &__contact-section-desktop-form-image {
    padding: 25px;

    align-items: center;
    justify-content: center;

    @include media-query(lg) {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: auto auto;
      grid-template-areas:
        'title title'
        'info form';
    }

    & .contact-form {
      grid-area: form;
      width: 100%;
      height: 100%;
      max-width: $content-max-width / 2;

      @include media-query(lg) {
        max-width: 500px;
        justify-self: flex-start;
      }
      @include media-query(xl) {
        max-width: 600px;
      }
    }

    & .company-info {
      grid-area: info;
      width: 75%;
      max-width: $content-max-width / 2;
      justify-self: flex-end;
      align-self: flex-start;
      margin: 0 60px;
    }
  }

  &__contact-section-desktop-form-image::before {
    opacity: $default-background-opacity - 0.2 !important;
  }

  &__contact-section-desktop-form-image::after {
    opacity: $default-background-opacity - 0.2 !important;
  }

  &__contact-section-desktop-form-title {
    @include third-category-text-appearance;
    grid-area: title;
    align-self: center;
    justify-self: center;

    @include media-query(lg) {
      font-size: $lg_third-category-text-size;
      max-width: 500px;
    }

    @include media-query(xl) {
      max-width: $content-max-width;
      font-size: $xl_third-category-text-size;
      width: 50%;
    }

    @include media-query(xxl) {
      font-size: $xxl_third-category-text-size;
    }
  }

  &__localization {
    grid-area: localization;


    & .leaflet-container {
      height: 100%;
      z-index: 0;
    }
  }

  & .footer {
    grid-area: footer;
  }

  & .btn-top {
    color: $red;
  }

}