@import "../1-helpers/mixins";
@import "../1-helpers/variables";
@import "../2-base/typography";

.gallery {
  //container
  min-height: 100vh;
  min-width: 100vw;

  display: grid;
  /*
    < lg
  */
  grid-template-columns: auto;
  grid-template-rows: minmax(100px, auto) minmax(30vh, auto) minmax(100vh, auto) minmax(500px, auto);
  grid-template-areas:
    'menu'
    'title'
    'products'
    'footer';

  /*
    > lg
  */
  @include media-query(lg) {
    grid-template-columns: auto;
    grid-template-rows: auto minmax(100vh, auto) minmax(500px, auto);
    grid-template-areas:
    'title'
    'products'
    'footer';
  }

  .header {
    grid-area: menu;
    position: fixed;
    z-index: 99;
    width: 100%;

    & .quick-info {
      @include media-query(lg) {
        display: none;
      }
    }

    & .menu {
      background-color: $white;
      z-index: 99;
    }
  }

  .section-title {
    grid-area: title;

    &__main-text {
        color: $white;
        font-weight: $default-bold;
    }
  }

  & .offer-gallery {
    grid-area: products;
    margin: $xsm-margin * 3 0;

    @include media-query(lg) {
      margin: $lg-margin * 3 0;
    }

    @include media-query(xl) {
      margin: $xl-margin * 3 0;
    }

    @include media-query(xxl) {
      margin: $xxl-margin * 3 0;
    }
  }

  & .footer {
    grid-area: footer;
  }
}