.home {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: minmax(100px, auto) 100vh repeat(6, auto);
    grid-template-areas:
        "menu"
        "start"
        "meet_me"
        "offert"
        "question"
        "realizations"
        "quick_query"
        "footer";
    // container
    min-height: 100vh;

    &__header {
        grid-area: menu;
        position: fixed;
        z-index: 99;
        width: 100%;

        & .quick-info {
            //
        }

        & .menu {
            background-color: $white;
            z-index: 99;
        }
    }

    &__start {
        height: 100vh;
    }

    &__start-image {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__start-content {
        margin: $default-mobile-margin;
        display: flex;
        flex-direction: column;
        font-family: $special-font;
    }

    &__start-main-title {
        font-size: $first-category-title-size;
        color: $white;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: $default-mobile-margin;

        .highlighted-text {
            @include highlighted-text($orange);
        }
    }

    &__start-sub-text {
        font-size: $second-category-title-size;
        text-align: center;
        margin-bottom: $default-mobile-margin;
    }

    &__start-invite-text {
        font-size: $second-category-title-size;
        color: $orange;
        text-align: center;
        margin-bottom: $default-mobile-margin;
    }

    &__start-action-button {
        text-align: center;
        margin-top: $default-mobile-margin;
        color: $white;
        font-size: $second-category-title-size;

        &:hover {
            cursor: pointer;
            color: darken($white, 10%);
            //transition: font-size 1s;
            //font-size: $first-category-title-size + 10;
        }
    }

    &__meet-me {
        height: 100vh;
        background-color: $white;
        display: flex;
        flex-direction: column;
    }

    &__meet-me-image {
        height: 50%;
    }

    &__meet-me-content {
        height: 50%;
        display: flex;
        flex-direction: column;
        margin: $default-mobile-margin;
    }

    &__meet-me-title {
        align-self: flex-start;
        font-size: $first-category-title-size;
        text-transform: uppercase;
        letter-spacing: 1.2;
        margin-top: $default-mobile-margin;
        color: $orange;
    }

    &__meet-me-subtitle {
        font-size: $second-category-title-size;
        margin-left: $default-mobile-margin;
        margin-bottom: $default-mobile-margin;
    }

    &__meet-me-text {
        margin: $default-mobile-margin 0;
        text-justify: auto;
        font-family: $special-font;
    }

    &__meet-me-action-space {
        width: 100%;
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        .action-button {
            background-color: $white;
            color: $orange;
            border: 2px solid $orange;
        }
    }

    &__offer {
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    &__offer-quick-info {
        flex-grow: 1;
        background-color: $orange;
        display: flex;
        justify-content: center;
        align-items: center;
        // to change
        font-size: $third-category-title-size;
    }

    &__offer-quick-info-text {
        margin: $default-mobile-margin;
        font-size: $second-category-title-size;

        .highlighted-text {
            @include highlighted-text(inherit) {
                font-weight: $default-bold;
            }
        }
    }

    &__offer-image {
        flex-grow: 3;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__offer-image::before {
        opacity: $default-background-opacity !important;
    }

    &__offer-image::after {
        opacity: $default-background-opacity !important;
    }

    &__offer-content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: $default-mobile-margin;
    }


    &__offer-title {
        width: 100%;
        font-size: $first-category-title-size;
        text-transform: uppercase;
        color: $white;
        text-align: center;
    }

    &__offer-text {
        display: flex;
        align-items: center;
        width: 100%;
        flex-grow: 2;
        font-family: $special-font;
    }

    &__offer-action {
        width: 100%;
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        .action-button {
            background: inherit;
            color: $brown;
            border: 2px solid $brown;
        }
    }

    &__contact {
        height: 100vh;
        background-color: $brown;
        color: $white;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    &__contact-content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: $default-mobile-margin;
    }

    &__contact-title {
        font-size: $first-category-title-size;
        color: $white;
        text-transform: uppercase;
        text-align: center;
    }

    &__contact-action-space {
        display: flex;
        flex-direction: column;

        .action-button {
            background: inherit;
            color: $white;
            border: 2px solid $white;
            height: inherit;
            width: inherit;
        }
    }

    &__contact-text {
        color: $white;
        font-size: $third-category-title-size;
    }

    &__contact-number {
        color: $orange;
        font-weight: $default-bold;
        font-size: $first-category-title-size;
    }

    &__realizations {
        min-height: 100px;
        background-color: darken($white, 2%);
        color: $white;
    }

    &__realizations-content {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: minmax(120px, 1fr);
        grid-template-rows: auto 1fr minmax(100px, auto);
        grid-template-areas:
            'title'
            'gallery'
            'button';
    }

    &__realizations-title {
        grid-area: title;
        text-transform: uppercase;
        font-size: $first-category-title-size;
        margin: $default-mobile-margin;
        color: $black;
    }

    &__realizations-gallery {
        grid-area: gallery;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
        margin-top: $default-mobile-margin;
        margin-left: $default-mobile-margin;
        margin-right: $default-mobile-margin;
        gap: $default-mobile-margin;

        .image-gallery {
            justify-content: center;
            display: flex;
            flex-direction: column;
            z-index: 0;
        }
    }

    &__realizations-action-space {
        grid-area: button;
        width: 100%;
        flex-grow: 1;
        display: flex;
        justify-content: center;
        margin-bottom: $default-mobile-margin;

        .action-button {
            background-color: $white;
            color: $orange;
            border: 2px solid $orange;
        }
    }

    &__quick-query {
        min-height: 100vh;
        display: flex;
        flex-direction: column;

        .contact-form {
            height: auto;
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: $default-mobile-padding;
            background-color: $white;
        }
    }

    &__quick-query-image {
        min-height: 300px;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__quick-query-content {
        margin: $default-mobile-margin;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__quick-query-main-title {
        font-size: $first-category-title-size;
        text-transform: uppercase;
        font-weight: $default-bold;
        color: $white;
        margin: $default-mobile-margin;
    }

    &__quick-query-sub-text {
        font-size: $second-category-title-size;
        margin: 0 $default-mobile-margin;
        color: $orange;
    }

    &__quick-query-action-button {
        text-align: center;
        margin-top: $default-mobile-margin;
        color: $white;
        font-size: $second-category-title-size;

        &:hover {
            cursor: pointer;
            color: darken($white, 10%);
        }
    }

    .footer {
        min-height: 500px;
    }

}