@import "../1-helpers/mixins";
@import "../1-helpers/variables";
@import "../2-base/typography";

.home {
    // container
    min-height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100vh auto minmax(100vh, auto) auto minmax(100px, auto) auto minmax(500px, auto);
    grid-template-areas:
        "start"
        "meet_me"
        "offer"
        "question"
        "realizations"
        "quick_query"
        "footer";


    .header {
        grid-area: menu;
        position: fixed;
        z-index: 99;
        width: 100%;

        & .quick-info {
            @include media-query(lg) {
                display: none;
            }
        }

        & .menu {
            background-color: $white;
            z-index: 99;
        }
    }

    &__start {
        grid-area: start;
    }

    &__start-image {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;

    }

    &__start-image::before, &__start-image::after {
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
    }


    &__start-content {
        max-width: $content-max-width;
        margin: 10vh 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        flex-grow: 1;
        letter-spacing: -2px;

        @include media-query(sm) {
            justify-content: center;
        }
    }

    &__start-main-title {
        @include first-category-text-appearance;
        $grow-param: 4;     // standard text size + grow-param
        font-size: $xsm_first-category-text-size + $grow-param;
        color: $white;
        text-align: center;
        margin-left: $xsm-margin;
        margin-right: $xsm-margin;
        margin-bottom: $xsm_margin;

        // start animation
        visibility: hidden;
        animation: 2s fadeIn;
        animation-delay: 1s;
        animation-fill-mode: forwards;

        .highlighted-text {
            color: $orange;
        }

        @include media-query(sm) {
            font-size: $sm_first-category-text-size + $grow-param;
        }

        @include media-query(md) {
            font-size: $md_first-category-text-size + $grow-param;
        }

        @include media-query(lg) {
            font-size: $lg_first-category-text-size;
        }

        @include media-query(xl) {
            font-size: $xl_first-category-text-size;
        }

        @include media-query(xxl) {
            font-size: $xxl_first-category-text-size;
        }
    }

    &__start-sub-text {
        $grow-param: 3;     // standard text size + grow-param
        @include second-category-text-appearance;
        $grow-param: 5;
        font-size: $xsm_second-category-text-size + 2;
        text-align: center;
        margin-bottom: $xsm_margin;
        color: $white;

        // start animation
        visibility: hidden;
        animation: 1.5s fadeIn;
        animation-delay: 3s;
        animation-fill-mode: forwards;

        @include media-query(sm) {
            font-size: $sm_second-category-text-size;
            margin-bottom: $sm_margin;
        }

        @include media-query(md) {
            font-size: $md_second-category-text-size;
        }

        @include media-query(lg) {
            font-size: $lg_second-category-text-size;
        }

        @include media-query(xl) {
            font-size: $xl_second-category-text-size;
        }

        @include media-query(xxl) {
            font-size: $xxl_second-category-text-size;
        }
    }

    &__start-invite-text {
        $grow-param: 2;     // standard text size + grow-param
        @include second-category-text-appearance;
        font-size: $xsm_second-category-text-size + 2;
        color: $orange;
        text-align: center;
        margin-bottom: $xsm_margin;
        font-weight: bolder;

        //// start animation
        visibility: hidden;
        animation: 1.5s fadeIn;
        animation-delay: 3s;
        animation-fill-mode: forwards;

        @include media-query(sm) {
            font-size: $sm_second-category-text-size;
            margin-bottom: $sm_margin;
        }

        @include media-query(md) {
            font-size: $md_second-category-text-size;
            margin-bottom: $md_margin;
        }

        @include media-query(lg) {
            font-size: $lg_second-category-text-size;
            margin-bottom: $lg_margin;
        }

        @include media-query(xl) {
            font-size: $xl_second-category-text-size;
            margin-bottom: $xl_margin;
        }

        @include media-query(xxl) {
            font-size: $xxl_second-category-text-size;
            margin-bottom: $xxl_margin;
        }
    }

    &__start-action-button {
        @include second-category-text-appearance;
        font-size: $xsm_second-category-text-size;
        text-align: center;
        margin-top: $xsm_margin * 2;
        color: $white;

        // start animation
        visibility: hidden;
        animation: 1.5s fadeIn, upDown 2s ease-in-out;
        animation-delay: 3s;
        animation-fill-mode: forwards;

        &:hover {
            cursor: pointer;
            color: darken($white, 10%);
        }

        @include media-query(sm) {
            font-size: $sm_second-category-text-size;
            margin-bottom: $sm_margin;
            margin-top: $sm_margin;
        }

        @include media-query(md) {
            font-size: $md_second-category-text-size;
            margin-bottom: $md_margin;
            margin-top: $md_margin;
        }

        @include media-query(lg) {
            font-size: $lg_second-category-text-size;
            margin-bottom: $lg_margin;
            margin-top: $lg_margin;

            // start animation
            visibility: hidden;
            animation: 1.5s fadeIn, upDownInfinite 5s ease infinite;
            animation-delay: 3s;
            animation-fill-mode: forwards;
        }

        @include media-query(xl) {
            font-size: $xl_second-category-text-size;
            margin-bottom: $xl_margin;
        }

        @include media-query(xxl) {
            font-size: $xxl_second-category-text-size;
            margin-bottom: $xxl_margin;
        }

    }

    &__meet-me {
        grid-area: meet_me;
        max-width: $content-max-width;
        background-color: $white;

        display: flex;
        flex-direction: column;
        align-self: center;
        justify-self: center;

        @include media-query(lg) {
            min-height: 50vh;
            width: 80%;
            border: 1px solid $brown;
            margin: 80px;

            position: relative;
            display: grid;
            grid-template-columns: minmax(400px, 600px) minmax(50%, 1fr);
            grid-template-rows: auto auto;
            grid-template-areas:
                    'photo description'
                    '. description';

        }

        @include media-query(xl) {
            width: 75%;
        }
    }

    &__meet-me-image {
        height: 50vh;

        @include media-query(lg) {
            grid-area: photo;
            bottom: 30px;
            right: 30px;
            width: 100%;
            height: 100%;
        }
    }

    &__meet-me-content {
        min-height: 50vh;
        display: flex;
        flex-direction: column;
        margin: $xsm_margin;

        @include media-query(sm) {
            margin: $sm-margin * 2;
        }

        @include media-query(md) {
            margin: $md_margin * 2;
        }

        @include media-query(lg) {
            grid-area: description;
            min-height: unset;
            margin: $lg_margin;
        }

        @include media-query(xl) {
            margin: $xl_margin;
        }

        @include media-query(xxl) {
            margin: $xxl_margin;
        }
    }

    &__meet-me-title {
        @include first-category-text-appearance;
        align-self: flex-start;
        font-size: $xsm_first-category-text-size;
        margin-top: $xsm_margin;
        color: $orange;

        @include media-query(sm) {
            margin-top: $sm_margin;
            font-size: $sm_first-category-text-size;
        }

        @include media-query(md) {
            margin-top: $md_margin;
            font-size: $md_first-category-text-size;
        }

        @include media-query(lg) {
            margin-top: $lg_margin;
            font-size: $lg_first-category-text-size;
        }

        @include media-query(xl) {
            margin-top: $xl_margin;
            font-size: $xl_first-category-text-size;
        }

        @include media-query(xxl) {
            margin-top: $xxl_margin;
            font-size: $xxl_first-category-text-size;
        }
    }

    &__meet-me-subtitle {
        @include second-category-text-appearance;
        font-size: $xsm_second-category-text-size;
        margin-left: $xsm_margin;
        margin-bottom: $xsm_margin;

        @include media-query(sm) {
            margin-left: $sm_margin;
            margin-bottom: $sm_margin;
            font-size: $sm_second-category-text-size;
        }

        @include media-query(md) {
            margin-left: $md_margin;
            margin-bottom: $md_margin;
            font-size: $md_second-category-text-size;
        }

        @include media-query(lg) {
            margin-left: $lg_margin;
            margin-bottom: $lg_margin;
            font-size: $lg_second-category-text-size;
        }

        @include media-query(xl) {
            margin-left: $xl_margin;
            margin-bottom: $xl_margin;
            font-size: $xl_second-category-text-size;
        }

        @include media-query(xxl) {
            margin-left: $xxl_margin;
            margin-bottom: $xxl_margin;
            font-size: $xxl_second-category-text-size;
        }
    }

    &__meet-me-text {
        @include third-category-text-appearance;
        margin-bottom: $xsm_margin;
        text-justify: auto;
        font-size: $xsm_third-category-text-size;

        @include media-query(sm) {
            margin-bottom: $sm_margin;
            font-size: $sm_third-category-text-size;
        }

        @include media-query(md) {
            margin: $md_margin 0;
            font-size: $md_third-category-text-size;
        }

        @include media-query(lg) {
            margin-bottom: $lg_margin;
            font-size: $lg_third-category-text-size;
        }

        @include media-query(xl) {
            font-size: $xl_third-category-text-size;
        }

        @include media-query(xxl) {
            font-size: $xxl_third-category-text-size;
        }

    }

    &__meet-me-action-space {
        width: 100%;
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        @include media-query(lg) {
            flex-grow: 0;
        }

        .action-button {
            @include btn-standard($orange, 2px, $default-bold);

            @include media-query(lg) {
                @include btn-standard($brown, 2px, $default-bold, $white);
            }
        }
    }

    &__offer {
        grid-area: offer;
        display: flex;
        flex-direction: column;
    }

    &__offer-quick-info {
        flex-grow: 1;
        background-color: $orange;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__offer-quick-info-text {
        @include second-category-text-appearance;
        max-width: $content-max-width;
        font-size: $xsm_second-category-text-size;
        margin: $xsm_margin;
        text-align: left;
        color: $white;
        font-weight: $default-bold;

        @include media-query(sm) {
            margin: $sm_margin * 2;
            font-size: $sm_second-category-text-size;
        }

        @include media-query(md) {
            margin: $md_margin * 2;
            font-size: $md_second-category-text-size;
        }

        @include media-query(lg) {
            margin: $lg_margin * 2;
            font-size: $lg_second-category-text-size;
        }

        @include media-query(xl) {
            margin: $xl_margin * 2;
            font-size: $xl_second-category-text-size;
        }

        @include media-query(xxl) {
            margin: $xxl_margin * 2;
            font-size: $xxl_second-category-text-size;
        }

        .highlighted-text {
            color: inherit;
            font-size: inherit;
            font-family: inherit;
        }
    }

    &__offer-image {
        flex-grow: 3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        opacity: 0.6;
    }

    &__offer-image::before {
        opacity: $default-background-opacity !important;
    }

    &__offer-image::after {
        opacity: $default-background-opacity !important;
    }

    &__offer-content {
        height: 100%;
        max-width: $content-max-width;
        margin: $xsm_margin;
        align-self: center;
        justify-self: center;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include media-query(sm) {
            margin: $sm_margin * 2;
            font-size: $sm_third-category-text-size;
        }

        @include media-query(md) {
            margin: $md_margin * 2;
            font-size: $md_third-category-text-size;
        }

        @include media-query(lg) {
            margin: $lg_margin * 2;
            font-size: $lg_third-category-text-size;
            width: 75%;
            min-height: 50vh;
        }

        @include media-query(xl) {
            font-size: $xl_third-category-text-size;
            min-height: 60vh;
        }

        @include media-query(xxl) {
            font-size: $xxl_third-category-text-size;
            min-height: 70vh;
        }
    }


    &__offer-title {
        @include first-category-text-appearance;
        width: 100%;
        font-size: $xsm_first-category-text-size;
        color: $white;

        text-align: center;

        @include media-query(sm) {
            font-size: $sm_first-category-text-size;
            margin: 0 $sm_margin;
        }

        @include media-query(md) {
            font-size: $md_first-category-text-size;
        }

        @include media-query(lg) {
            font-size: $lg_first-category-text-size;
            margin: 0;
        }

        @include media-query(xl) {
            font-size: $xl_first-category-text-size;
            width: 75%;
        }

        @include media-query(xxl) {
            font-size: $xxl_first-category-text-size;
        }
    }

    &__offer-text {
        @include third-category-text-appearance;
        width: 100%;
        flex-grow: 2;
        font-family: $special-font;
        font-size: $xsm_third-category-text-size;

        display: flex;
        align-items: center;
        text-align: center;

        @include media-query(sm) {
            font-size: $sm_third-category-text-size;
            text-align: start;
        }

        @include media-query(md) {
            font-size: $md_third-category-text-size;
            padding: 0 $md_margin * 2;
        }

        @include media-query(lg) {
            font-size: $lg_third-category-text-size;
            width: 75%;
        }

        @include media-query(xl) {
            font-size: $xl_third-category-text-size;
            padding: 0 $xl_margin * 2;
        }

        @include media-query(xxl) {
            font-size: $xxl_third-category-text-size;
        }
    }

    &__offer-action {
        width: 100%;
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        .action-button {
            @include btn-border-animation($brown, $white, 2px, bottom, right);
        }
    }

    .section-contact {
        grid-area: question;
        background-color: $brown;
        color: $white;

        &__title {
            color: $white;
        }

        &__action-space {

            .action-button {
                @include btn-standard($orange, 2px, $default-bold);

                @include media-query(lg) {
                    border: none;
                    @include btn-border-animation($light-orange, $orange, 2px, top, left);
                }
            }
        }
        &__text {
            color: $white;
        }
        &__number {
            color: $orange;
        }
    }

    &__realizations {
        grid-area: realizations;
        background-color: darken($white, 3%);
        color: $white;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__realizations-content {
        max-width: $content-max-width;
        height: 100%;
        width: 100%;
        margin: 0 $xsm_margin;

        display: grid;
        grid-template-columns: minmax(120px, 1fr);
        grid-template-rows: auto 1fr minmax(100px, auto);
        grid-template-areas:
            'title'
            'gallery'
            'button';
    }

    &__realizations-title {
        @include first-category-text-appearance;
        grid-area: title;
        font-size: $xsm_first-category-text-size;
        margin: $xsm_margin;
        color: $black;
        //filter: grayscale(100%);

        text-align: center;

        @include media-query(sm) {
            font-size: $sm_first-category-text-size;
            margin: $sm_margin;
        }

        @include media-query(md) {
            font-size: $md_first-category-text-size;
            margin: $md_margin;
            //min-height: 20vh;
        }

        @include media-query(lg) {
            font-size: $lg_first-category-text-size;
            margin: $lg_margin;
        }

        @include media-query(xl) {
            font-size: $xl_first-category-text-size;
            margin: $xl_margin;
        }

        @include media-query(xxl) {
            font-size: $xxl_first-category-text-size;
            margin: $xxl_margin;
        }
    }

    #ReactGridGallery {
        grid-area: gallery;
        margin: $xsm_margin;
    }
    .ReactGridGallery_tile {
        //
    }

    &__realizations-action-space {
        grid-area: button;
        width: 100%;
        flex-grow: 1;

        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: $xsm_margin;

        @include media-query(sm) {
            margin: $sm_margin;
        }

        @include media-query(md) {
            margin: $md_margin;
        }

        @include media-query(lg) {
            margin: $lg_margin;
        }

        @include media-query(xl) {
            margin: $xl_margin;
        }

        @include media-query(xxl) {
            margin: $xxl_margin;
        }

        .action-button {
            background-color: $white;
            color: $orange;
            border: 2px solid $orange;

            @include media-query(lg) {
                background-color: inherit;
                border: none;
                @include btn-border-animation($brown, $orange, 2px, bottom, right);
            }
        }
    }

    &__quick-query {
        grid-area: quick_query;
        display: flex;
        flex-direction: column;
    }

    &__quick-query-image {
        min-height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__quick-query-form-image {
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0.6;

        & .contact-form {
            margin: $xsm-margin 0;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    }

    &__quick-query-form-image::before {
        opacity: $default-background-opacity !important;
    }

    &__quick-query-form-image::after {
        opacity: $default-background-opacity !important;
    }

    &__quick-query-content {
        margin: $xsm_margin;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__quick-query-main-title {
        @include first-category-text-appearance;
        font-size: $xsm_first-category-text-size;
        font-weight: $default-bold;
        color: $white;
        margin: $xsm_margin;
    }

    &__quick-query-sub-text {
        @include second-category-text-appearance;
        font-size: $xsm_second-category-text-size;
        margin: 0 $xsm_margin;
        color: $orange;
    }

    &__quick-query-action-button {
        @include second-category-text-appearance;
        font-size: $xsm_second-category-text-size;
        text-align: center;
        margin-top: $xsm_margin * 3;
        color: $white;

        animation: upDownInfinite 5s ease infinite;

        &:hover {
            cursor: pointer;
            color: darken($white, 10%);
        }
    }

    & .footer {
        grid-area: footer;
    }

}