@import "../1-helpers/mixins";
@import "../1-helpers/variables";
@import "../2-base/typography";

.home {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100vh repeat(2, minmax(100vh, auto)) 100vh minmax(100px, auto) auto minmax(500px, auto);
    grid-template-areas:
        "start"
        "meet_me"
        "offer"
        "question"
        "realizations"
        "quick_query"
        "footer";
    // container
    min-height: 100vh;
    width: 100vw;

    &__header {
        grid-area: menu;
        position: fixed;
        z-index: 99;
        width: 100%;

        & .quick-info {
            //
        }

        & .menu {
            background-color: $white;
            z-index: 99;
        }
    }

    &__start {
        grid-area: start;
    }

    &__start-image {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


    &__start-content {
        margin: $xsm_margin;
        display: flex;
        flex-direction: column;

        // start animation
        visibility: hidden;
        animation: 1.5s fadeIn;
        animation-delay: 1.5s;
        animation-fill-mode: forwards;
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            visibility: visible;
            opacity: 1;
        }
    }

    &__start-main-title {
        @include first-category-text-appearance;
        font-size: $xsm_first-category-text-size;
        color: $white;
        text-align: center;
        margin-bottom: $xsm_margin;

        .highlighted-text {
            color: $orange;
        }
    }

    &__start-sub-text {
        @include second-category-text-appearance;
        font-size: $xsm_second-category-text-size;
        text-align: center;
        margin-bottom: $xsm_margin;
        color: $white;
    }

    &__start-invite-text {
        @include second-category-text-appearance;
        font-size: $xsm_second-category-text-size;
        color: $orange;
        text-align: center;
        margin-bottom: $xsm_margin;
    }

    &__start-action-button {
        @include second-category-text-appearance;
        font-size: $xsm_second-category-text-size;
        text-align: center;
        margin-top: $xsm_margin * 2;
        color: $white;

        &:hover {
            cursor: pointer;
            color: darken($white, 10%);
        }

    }

    &__meet-me {
        grid-area: meet_me;
        background-color: $white;
        display: flex;
        flex-direction: column;
    }

    &__meet-me-image {
        height: 50%;
    }

    &__meet-me-content {
        height: 50%;
        display: flex;
        flex-direction: column;
        margin: $xsm_margin;
    }

    &__meet-me-title {
        @include first-category-text-appearance;
        align-self: flex-start;
        font-size: $xsm_first-category-text-size;
        margin-top: $xsm_margin;
        color: $orange;
    }

    &__meet-me-subtitle {
        @include second-category-text-appearance;
        font-size: $xsm_second-category-text-size;
        margin-left: $xsm_margin;
        margin-bottom: $xsm_margin;
    }

    &__meet-me-text {
        @include third-category-text-appearance;
        margin: $xsm_margin 0;
        text-justify: auto;
        font-family: $special-font;
        font-size: $xsm_third-category-text-size;
    }

    &__meet-me-action-space {
        width: 100%;
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        .action-button {
            background-color: $white;
            color: $orange;
            border: 2px solid $orange;
            height: 25%;
            width: 50%;
        }
    }

    &__offer {
        grid-area: offer;
        display: flex;
        flex-direction: column;
    }

    &__offer-quick-info {
        flex-grow: 1;
        background-color: $orange;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__offer-quick-info-text {
        @include second-category-text-appearance;
        font-size: $xsm_second-category-text-size;
        margin: $xsm_margin;

        .highlighted-text {
            color: inherit;
            font-weight: $default-bold;
            font-size: inherit;
            font-family: inherit;
        }
    }

    &__offer-image {
        flex-grow: 3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        opacity: 0.6;
    }

    &__offer-image::before {
        opacity: $default-background-opacity !important;
    }

    &__offer-image::after {
        opacity: $default-background-opacity !important;
    }

    &__offer-content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: $xsm_margin;
    }


    &__offer-title {
        @include first-category-text-appearance;
        width: 100%;
        font-size: $xsm_first-category-text-size;
        color: $white;
        text-align: center;
    }

    &__offer-text {
        @include third-category-text-appearance;
        display: flex;
        align-items: center;
        width: 100%;
        flex-grow: 2;
        font-family: $special-font;
        font-size: $xsm_third-category-text-size;
    }

    &__offer-action {
        width: 100%;
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        .action-button {
            background: inherit;
            color: $brown;
            border: 2px solid $brown;
            font-size: $xsm_third-category-text-size;
            height: 25%;
            width: 50%;
        }
    }
    .section-contact {
        grid-area: question;
        background-color: $brown;
        color: $white;

        &__title {
            color: $white;
        }
        &__action-space {
            //
            .action-button {
                color: $white;
                border: 2px solid $white;
            }
        }
        &__text {
            color: $white;
        }
        &__number {
            color: $orange;
        }
    }

    &__realizations {
        grid-area: realizations;
        background-color: darken($white, 2%);
        color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__realizations-content {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: minmax(120px, 1fr);
        grid-template-rows: auto 1fr minmax(100px, auto);
        grid-template-areas:
            'title'
            'gallery'
            'button';
    }

    &__realizations-title {
        @include first-category-text-appearance;
        grid-area: title;
        font-size: $xsm_first-category-text-size;
        margin: $xsm_margin;
        color: $black;
        text-align: center;
    }

    #ReactGridGallery {
        grid-area: gallery;
        margin: $xsm_margin;

    }
    .ReactGridGallery_tile {
        //
    }

    &__realizations-action-space {
        grid-area: button;
        width: 100%;
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: $xsm_margin;

        .action-button {
            background-color: $white;
            color: $orange;
            border: 2px solid $orange;
            width: 50%;
            height: 25%;
            font-size: $xsm_third-category-text-size;
        }
    }

    &__quick-query {
        grid-area: quick_query;
        display: flex;
        flex-direction: column;
    }

    &__quick-query-image {
        min-height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__quick-query-form-image {
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0.6;

        & .contact-form {
            margin: $xsm-margin 0;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    }

    &__quick-query-form-image::before {
        opacity: $default-background-opacity !important;
    }

    &__quick-query-form-image::after {
        opacity: $default-background-opacity !important;
    }

    &__quick-query-content {
        margin: $xsm_margin;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__quick-query-main-title {
        @include first-category-text-appearance;
        font-size: $xsm_first-category-text-size;
        font-weight: $default-bold;
        color: $white;
        margin: $xsm_margin;
    }

    &__quick-query-sub-text {
        @include second-category-text-appearance;
        font-size: $xsm_second-category-text-size;
        margin: 0 $xsm_margin;
        color: $orange;
    }

    &__quick-query-action-button {
        @include second-category-text-appearance;
        font-size: $xsm_second-category-text-size;
        text-align: center;
        margin-top: $xsm_margin * 3;
        color: $white;

        &:hover {
            cursor: pointer;
            color: darken($white, 10%);
        }
    }

    & .footer {
        grid-area: footer;
    }

}