@import "../1-helpers/mixins";
@import "../1-helpers/variables";
@import "../2-base/typography";

.offer {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: minmax(100px, auto) minmax(30vh, auto) auto minmax(100vh, auto) auto 100vh minmax(500px, auto);
  grid-template-areas:
  'menu'
  'title'
  'description'
  'products'
  'key-features'
  'contact'
  'footer';

  // container
  min-height: 100vh;
  min-width: 100vw;

  &__header {
    grid-area: menu;
    position: fixed;
    z-index: 99;
    width: 100%;

    & .quick-info {
      //
    }

    & .menu {
      background-color: $white;
      z-index: 99;
    }
  }

  .section-title {
    grid-area: title;

    &__main-text {
        color: $white;
        font-size: $xsm_first-category-text-size;
        font-weight: $default-bold;

        .highlighted-text {
          color: $orange;
        }
    }
  }

  &__description {
    grid-area: description;
    display: flex;
  }

  &__description-content {
    margin: $xsm_margin;
    padding: $xsm_padding;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  &__description-title {
    @include second-category-text-appearance;
    font-size: $xsm_second-category-text-size;
    align-self: flex-start;
  }

  &__description-text {
    @include third-category-text-appearance;
    font-size: $xsm_third-category-text-size;
    margin: $xsm_margin 0;
  }

  &__description-text2 {
    @include second-category-text-appearance;
    font-size: $xsm_second-category-text-size;
  }

  & .offer-gallery {
    grid-area: products;
  }

  &__key-features {
    grid-area: key-features;
    background-color: $white;
  }

  &__key-features-content {
    margin: $xsm_margin;
    padding: $xsm_padding;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  &__key-features-content-item {
    margin: $xsm_margin 0;
  }

  &__key-features-content-item-title {
    @include second-category-text-appearance;
    font-size: $xsm_second-category-text-size;
    text-transform: uppercase;
    margin-bottom: $xsm_margin / 3;
    color: $orange;
  }

  &__key-features-content-item-description {
    @include third-category-text-appearance;
    font-size: $xsm-third-category-text-size;
  }

  .section-contact {
    grid-area: contact;
    background-color: $brown;
    color: $white;

    &__title {
      color: $white;
    }
    &__action-space {
      //
      .action-button {
        color: $white;
        border: 2px solid $white;
      }
    }
    &__text {
      color: $white;
    }
    &__number {
      color: $orange;
    }
  }

  & .footer {
    grid-area: footer;
    background-color: $black;
  }

}