@import "../1-helpers/mixins";
@import "../1-helpers/variables";
@import "../2-base/typography";

.product-page {
  //container
  min-height: 100vh;
  width: 100vw;

  display: grid;
  /*
    < lg
  */
  grid-template-columns: auto;
  grid-template-rows: minmax(100px, auto) minmax(30vh, auto) auto 100vh minmax(500px, auto);
  grid-template-areas:
    'menu'
    'title'
    'gallery'
    'contact'
    'footer';
  /*
    > lg
  */
  @include media-query(lg) {
    grid-template-columns: auto;
    grid-template-rows: auto auto 100vh minmax(500px, auto);
    grid-template-areas:
    'title'
    'gallery'
    'contact'
    'footer';
  }

  .header {
    grid-area: menu;
    position: fixed;
    z-index: 99;
    width: 100%;

    & .quick-info {
      @include media-query(lg) {
        display: none;
      }
    }

    & .menu {
      background-color: $white;
      z-index: 99;
    }
  }

  & .section-title {
    grid-area: title;

    &__main-text {
      color: $white;
      font-weight: $default-bold;
      text-align: center;

      .highlighted-text {
        //
      }
    }
  }

  &__gallery {
    grid-area: gallery;
    background-color: darken($white, 2%);
    color: $white;
    display: grid;
    grid-template-columns: minmax(120px, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas:
      'previous-page'
      'gallery-item';
    align-items: center;
  }
  & .previous-page-button {
    grid-area: previous-page;
  }

  & #ReactGridGallery {
    grid-area: gallery-item;
    margin: $xsm_margin * 2;
  }

  .ReactGridGallery_tile {
    //
  }

  & .section-contact {
    grid-area: contact;
    background-color: $brown;
    color: $white;

    &__title {
      color: $white;
    }

    &__action-space {

      .action-button {
        color: $white;
        border: 2px solid $white;
      }
    }

    &__text {
      color: $white;
    }

    &__number {
      color: $orange;
    }
  }

  & .footer {
    grid-area: footer;
    background-color: $black;
  }
}

.footerCaption_2r5qf {    // active photo description appearance
  @include third-category-text-appearance;
}