@import "../1-helpers/variables";
@import "../2-base/typography";


.contact-form {
    &__fieldset {
        @include third-category-text-appearance;
        margin-top: $xsm_margin;
        height: auto;
        width: 75%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: $xsm_third-category-text-size - 10;
    }

    &__name {
        @include form-input-style;
        font-size: inherit;

        &:focus {
            @include form-input-focus-style;
        }
    }

    &__surname {
        @include form-input-style;
        font-size: inherit;

        &:focus {
            @include form-input-focus-style;
        }
    }

    &__email {
        @include form-input-style;
        font-size: inherit;

        &:focus {
            @include form-input-focus-style;
        }
    }

    &__phone {
        @include form-input-style;
        font-size: inherit;

        &:focus {
            @include form-input-focus-style;
        }
    }

    &__message {
        @include form-input-style;
        font-size: inherit;
        min-height: 200px;
        resize: none;

        &:focus {
            @include form-input-focus-style;
        }
    }

    &__consent {
        display: flex;
        flex-direction: row;
        font-size: inherit;
        margin: $xsm_margin 0;
    }

    &__checkbox {
        align-self: flex-start;
        font-size: inherit;
        margin-right: 5px;
    }

    &__checkbox-label {
        font-size: $xsm_third-category-text-size / 2;
        font-family: inherit;
    }

    &__action-space {
        width: 100%;
        margin: $xsm_margin 0;
        display: flex;
        align-items: center;
        justify-content: center;

        .action-button {
            background-color: $white;
            color: $orange;
            border: 2px solid $orange;
            height: 25%;
            width: 75%;
        }
    }
}

.input-error {
    border: 1px solid red;
}