@import "../1-helpers/variables";
@import "../2-base/typography";
@import "../1-helpers/mixins";

.contact-form {

    &__fieldset {
        @include third-category-text-appearance;
        width: 100%;
        height: auto;
        margin: $xsm_margin 0;
        font-size: $xsm_third-category-text-size / 1.25;
        padding: 20px;

        display: flex;
        flex-direction: column;
        justify-content: center;


        @include media-query(sm) {
            border: 1px solid darken($light-brown, 2%);
            font-size: $sm_third-category-text-size / 1.25;
        }

        @include media-query(md) {
            font-size: $md_third-category-text-size / 1.25;
        }

        @include media-query(lg) {
            font-size: $lg_third-category-text-size / 1.25;
        }

        @include media-query(xl) {
            font-size: $xl_third-category-text-size / 1.25;
        }

        @include media-query(xxl) {
            font-size: $xxl_third-category-text-size / 1.25;
        }
    }

    &__legend {
        @include second-category-text-appearance;
        font-size: $xsm_second-category-text-size;
        margin: auto;
        padding: $xsm-padding;
        text-align: center;

        @include media-query(sm) {
            font-size: $sm_second-category-text-size;
        }

        @include media-query(md) {
            font-size: $md_second-category-text-size;
        }

        @include media-query(lg) {
            font-size: $lg_second-category-text-size;
        }

        @include media-query(xl) {
            font-size: $xl_second-category-text-size;
        }

        @include media-query(xxl) {
            font-size: $xxl_second-category-text-size;
        }
    }

    &__name {
        @include form-input-style;
        font-size: inherit;

        &:focus {
            @include form-input-focus-style;
        }
    }

    &__surname {
        @include form-input-style;
        font-size: inherit;

        &:focus {
            @include form-input-focus-style;
        }
    }

    &__email {
        @include form-input-style;
        font-size: inherit;

        &:focus {
            @include form-input-focus-style;
        }
    }

    &__phone {
        @include form-input-style;
        font-size: inherit;

        &:focus {
            @include form-input-focus-style;
        }
    }

    &__message {
        @include form-input-style;
        font-size: inherit;
        min-height: 200px;
        resize: none;

        &:focus {
            @include form-input-focus-style;
        }
    }

    &__consent {
        margin: $xsm_margin 0;

        display: flex;
        flex-direction: row;
        font-size: inherit;
        position: relative;
    }

    &__checkbox {
        align-self: flex-start;
        margin-right: 5px;
        margin-top: 4px;
        font-size: inherit;

        @include media-query(sm) {
            //
        }
    }

    &__checkbox-label {
        font-size: $xsm_third-category-text-size / 2;
        font-family: inherit;

        @include media-query(sm) {
            font-size: $sm_third-category-text-size / 2;
        }

        @include media-query(md) {
            font-size: $md_third-category-text-size / 2;
        }

        @include media-query(lg) {
            font-size: $lg_third-category-text-size / 2;
        }

        @include media-query(xl) {
            font-size: $xl_third-category-text-size / 2;
        }

        @include media-query(xxl) {
            font-size: $xxl_third-category-text-size / 2;
        }
    }

    &__action-space {
        width: 100%;
        margin: $xsm_margin 0;

        display: flex;
        align-items: center;
        justify-content: center;

        .action-button {
            @include btn-standard($orange, 2px, $default-bold);

            @include media-query(lg) {
                border: none;
                cursor: pointer;
                @include btn-border-animation($orange, $red, 3px, bottom, right);
            }
        }
    }
}

.input-error {
    border: 1px solid red;
}