@import "../1-helpers/mixins";
@import "../1-helpers/variables";
@import "../2-base/typography";

/* Local variables */
$display: "false";

/*
    Menu while page scroll
*/
.menu {
    $grid-style: "flex";
    display: flex;
    padding: $xsm_padding;
    background-color: $white;
    font-family: $special-font;
    z-index: 99;

    @include media-query(lg) {
        padding: 0;
    }

    &__logo {
        margin-left: $xsm_margin;

        @if($display=="grid") {
            grid-area: logo;
        }

        @else {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-grow: 5;
        }
    }

    &__logo-image {
        display: none;
        width: 200px;
        height: 200px;

        @include media-query(lg) {
            display: flex;
        }
    }

    &__title {
        @include second-category-text-appearance;
        font-size: $xsm_second-category-text-size;
        text-transform: uppercase;
        line-height: normal;
        filter: grayscale(50%);

        @include media-query(sm) {
            font-size: $sm_second-category-text-size;
        }

        @include media-query(md) {
            font-size: $md_second-category-text-size;
        }

        @include media-query(lg) {
            font-size: $lg_second-category-text-size;
            display: none;
        }

        @include media-query(xl) {
            font-size: $xl_second-category-text-size;
        }

        @include media-query(xxl) {
            font-size: $xxl_second-category-text-size;
        }
    }

    &__description {
        @include third-category-text-appearance;
        color: $orange;
        margin-left: 25%;
        font-size: $xsm_third-category-text-size;
        line-height: normal;

        @include media-query(sm) {
            font-size: $sm_third-category-text-size;
            margin-left: 15%;
        }

        @include media-query(md) {
            font-size: $md_third-category-text-size;
        }

        @include media-query(lg) {
            display: none;
            font-size: $lg_third-category-text-size;
            margin-left: 25%;
        }
        @include media-query(xl) {
            font-size: $xl_third-category-text-size;
            margin-left: 15%;
        }

        @include media-query(xxl) {
            font-size: $xxl_third-category-text-size;
            margin-left: 8%;
        }
    }
    // ********************
    // MOBILE
    // ********************
    &__mobile {
        margin-top: 20px;
        grid-area: menu;
    }

    &--mobile-open {
        position: fixed;
        z-index: 99;
        width: 100%;
        $grid-style: "grid";
        display: grid;
        border-bottom: 1px solid darken($white, 10);
        grid-template-columns: minmax(auto, 6fr) 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
            "logo hamburgerMenu"
            "menu menu";
    }

    &__mobile-links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__hamburger-menu {
        @include second-category-text-appearance;
        font-size: $xsm_second-category-text-size;
        margin: auto;

        @if($display=="grid") {
            grid-area: hamburgerMenu;
        }

        @else {
            display: flex;
            flex-grow: 1;
            justify-content: center;
        }

        @include media-query(sm) {
            font-size: $sm_second-category-text-size;
        }

        @include media-query(md) {
            font-size: $md_second-category-text-size;
        }

        @include media-query(lg) {
            display: none;
        }
    }

    &__hamburger-menu-icon {
        color: $orange;

        &:hover {
            cursor: pointer;
            color: darken($orange, 10%);
        }
    }

    // ********************
    // DESKTOP
    // ********************
    /*
        Desktop link items
    */
    &__desktop-links {
        display: none;
        filter: grayscale(50%);

        @include media-query(lg) {
            display: flex;
            align-items: center;
            margin-right: $lg-margin;
        }

        @include media-query(xl) {
            margin-right: $xl-margin;
        }

        &-item--active {
            border-bottom: 2px solid $orange;
            pointer-events: none;
        }
    }
    // ********************
    // COMMON
    // ********************
    &__link-item {
        @include third-category-text-appearance;
        text-transform: uppercase;
        margin: $xsm_margin / 2;
        line-height: normal;
        font-size: 20px;

        @include media-query(sm) {
            font-size: 20px;
        }

        @include media-query(md) {
            font-size: 23px;
        }

        @include media-query(lg) {
            font-size: 18px;
            letter-spacing: 1px;

            // hover animation
            &:after {
                display: block;
                content: '';
                border-bottom: 2px solid $orange;
                transform: scaleX(0);
                transition: transform 250ms ease-in-out;
            }

            &:hover:after {
                transform: scaleX(1);
            }
        }

        @include media-query(xl) {
            font-size: 20px;
        }

        @include media-query(xxl) {
            font-size: 23px;
        }

        &:last-of-type {
            @include third-category-text-appearance;
            color: $orange;
            line-height: inherit;

            @include media-query(lg) {
                color: $orange;
            }
        }

        &--active {
            width: fit-content;
            border-left: 3px solid $orange;
            margin-left: 0;
            padding-left: 4px;

        }
    }
}

/*
    Menu on top of the page
*/
.menu-on-top {
    border-bottom: 0.2px solid rgba(255,255,255,0.25) !important;

    @include media-query(lg) {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white;
        height: $desktop-menu-on-top-height;
        padding: 0 $lg_padding * 2;

        /*
            Animation while navbar on page top for desktop screens
        */
        animation: slide-down-animation 0.1s;

        @keyframes slide-down-animation {
            0%   {height: $desktop-menu-on-top-height - 50px;}
            25%  {height: $desktop-menu-on-top-height - 40px;}
            50%  {height: $desktop-menu-on-top-height - 30px;}
            75%  {height: $desktop-menu-on-top-height - 20px;}
            100% {height: $desktop-menu-on-top-height - 10px;}
        }

        @include media-query(xl) {
            padding: 0 $xl_padding * 2;
        }

        .menu {
            flex-grow: 1;
            background: none !important;

            &__title {
                color: $orange;
            }
            &__description {
                color: inherit;
            }

            &__desktop-links {

                &-item--active {
                    border-bottom: 2px solid $orange;
                    pointer-events: none;

                }

                .menu__link-item {
                    color: white;
                }

            }
        }

        .quick-info {
            display: none;
            background: none;
        }
    }
}

#navbar {

    @include media-query(lg) {
        height: $desktop-menu-on-scroll-height;
        padding: 0 $lg_padding * 2;

        /*
            On scroll navbar animation for desktop screens
        */
        animation: slide-up-animation 0.2s;

        @keyframes slide-up-animation {
            0%   {height: $desktop-menu-on-top-height - 10px;}
            25%  {height: $desktop-menu-on-top-height - 20px;}
            50%  {height: $desktop-menu-on-top-height - 30px;}
            75%  {height: $desktop-menu-on-top-height - 40px;}
            100% {height: $desktop-menu-on-top-height - 50px;}
        }
    }

    @include media-query(xl) {
        padding: 0 $xl_padding * 2;
    }
}

.hidden {
    visibility: hidden;

    @include media-query(lg) {
        visibility: hidden;
    }
}