@import "../1-helpers/mixins";
@import "../1-helpers/variables";
@import "../2-base/typography";

/* Local variables */
$display: "false";

.menu {
    $grid-style: "flex";
    display: flex;
    padding: $xsm_padding;
    background-color: $white;
    font-family: $special-font;
    z-index: 99;

    &--open {
        position: fixed;
        z-index: 99;
        width: 100%;
        $grid-style: "grid";
        display: grid;
        grid-template-columns: minmax(auto, 6fr) 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
            "logo hamburgerMenu"
            "menu menu";
    }

    &__open {
        margin-top: 20px;
        grid-area: menu;
    }

    &__logo {
        margin-left: $xsm_margin;

        @if($display=="grid") {
            grid-area: logo;
        }

        @else {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-grow: 5;
        }
    }

    &__title {
        @include second-category-text-appearance;
        font-size: $xsm_second-category-text-size;
        text-transform: uppercase;
        line-height: normal;
    }

    &__description {
        @include third-category-text-appearance;
        color: $orange;
        margin-left: 25%;
        font-size: $xsm_third-category-text-size;
        line-height: normal;
    }

    &__links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__link-item {
        @include third-category-text-appearance;
        text-transform: uppercase;
        margin: $xsm_margin / 2;
        line-height: normal;
        font-size: $xsm_third-category-text-size;

        &:last-of-type {
            @include third-category-text-appearance;
            color: $orange;
            font-size: $xsm-third-category-text-size * 1.5;
            line-height: inherit;
        }

        &--active {
            width: fit-content;
            border-left: 2px solid $orange;
            margin-left: 0;
            padding-left: 4px;
        }
    }

    &__hamburger-menu {
        @include second-category-text-appearance;
        font-size: $xsm_second-category-text-size;
        margin: auto;

        @if($display=="grid") {
            grid-area: hamburgerMenu;
        }

        @else {
            display: flex;
            flex-grow: 1;
            justify-content: center;
        }
    }

    &__hamburger-menu-icon {
        color: $orange;

        &:hover {
            cursor: pointer;
            color: darken($orange, 10%);
        }
    }
}

#sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}