@import "../1-helpers/variables";
@import "../2-base/typography";


.quick-info {
    display: flex;
    min-height: 40px;
    background-color: $black;

    font-size: $xsm_third-category-text-size / 1.1;

    @include media-query(sm) {
        font-size: $sm_third-category-text-size - 1;
    }

    @include media-query(md) {
        font-size: $md_third-category-text-size - 1;
    }

    @include media-query(lg) {
        font-size: $lg_third-category-text-size;
    }

    @include media-query(xl) {
        font-size: $xl_third-category-text-size - 1;
    }

    &__list {
        display: flex;
        width: 100%;
        height: 100%;
        margin: auto $xsm_margin;
        justify-content: flex-start;
    }

    &__item {
        display: flex;
        align-items: center;
        font: $special-font;
        color: $white;
        margin: auto 0;
        @include media-query(md) {
            margin: auto $md_margin auto 0;
        }

        &--mobile {
            display: none;
        }

        @include media-query(md) {
            &--mobile {
                display: flex;
            }
        }
    }

    &__img {
        margin: auto 8px;
    }

    &__info {
        @include third-category-text-appearance;
    }
}