@import "../1-helpers/variables";
@import "../1-helpers/mixins";
@import "../2-base/typography";

.achievements-block {
    width: 100%;
    height: 350px;
    max-width: 450px;
    border: 1px solid $black;
    margin-top: $xsm_margin;

    position: relative;
    display: flex;
    justify-content: center;
    justify-self: center;

    @include media-query(sm) {
        width: 450px;
        height: 450px;
    }

    @include media-query(lg) {
        &:hover {
            transition: 0.25s;
            color: $orange;
            background-color: $white;
        }
    }

    &__main-text {
        position: absolute;
        font-size: $xsm_first-category-text-size * 3;
        font-family: $special-font;

        margin-top: -15px;
        text-transform: uppercase;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include media-query(sm) {
            font-size: $sm_first-category-text-size * 3;
            margin-top: -22px;
        }

        @include media-query(md) {
            font-size: $md_first-category-text-size * 3;
            margin-top: -15px;
        }

        @include media-query(lg) {
            font-size: $lg_first-category-text-size * 3;
        }

        @include media-query(xl) {
            font-size: $xl_first-category-text-size * 3;
        }

        @include media-query(xxl) {
            font-size: $xxl_first-category-text-size * 3;
        }

        &-sub-text {
            @include second-category-text-appearance;
            font-size: $xsm_second-category-text-size;
            align-self: center;

            @include media-query(sm) {
                font-size: $sm_second-category-text-size;
            }

            @include media-query(md) {
                font-size: $md_second-category-text-size;
                margin-top: -5px;
            }

            @include media-query(lg) {
                font-size: $lg_second-category-text-size;
            }

            @include media-query(xl) {
                font-size: $xl_second-category-text-size;
            }

            @include media-query(xxl) {
                font-size: $xxl_second-category-text-size;
            }
        }
    }

    &__sub-text {
        @include second-category-text-appearance;
        position: absolute;
        align-self: flex-end;
        margin: $xsm_margin $xsm_margin 40px;
        text-transform: uppercase;
        font-size: $xsm_second-category-text-size;

        text-align: center;

        @include media-query(sm) {
            font-size: $sm_second-category-text-size;
        }

        @include media-query(md) {
            font-size: $md_second-category-text-size;
        }

        @include media-query(lg) {
            font-size: $lg_second-category-text-size;
        }

        @include media-query(xl) {
            font-size: $xl_second-category-text-size;
        }

        @include media-query(xxl) {
            font-size: $xxl_second-category-text-size;
        }
    }
}