@import "../1-helpers/variables";
@import "../2-base/typography";

.action-button {
    @include third-category-text-appearance;
    display: flex; // to put button content at center
    justify-content: center; // horizontal
    align-items: center; // vertical
    min-height: 50px;
    min-width: 100px;
    font-weight: $default-bold;
    text-transform: uppercase;
    font-size: $xsm-third-category-text-size;
}