@import "../1-helpers/variables";

.move-animation {
  animation: upDown 5s ease infinite;
}

@keyframes upDown {
  0% {
    transform: translateY(100%);
  }

  50% {
    transform: translateY(100%);
    color: $black;
  }

  100% {
    transform: translateY(-100%);
  }
}