@import "../1-helpers/variables";

.upDownInfinite-animation {
  animation: upDownInfinite 5s ease infinite;
}

@keyframes upDown {
  0% {
    transform: translateY(100%);
  }

  50% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(-100%);
  }
}

@keyframes upDownInfinite {
  0% {
    transform: translateY(-100%);
  }

  50% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(-100%);
  }
}