// ********************
// BREAKPOINTS
// ********************
$breakpoints: ( //
    sm: (min-width: 576px),
    md: (min-width: 768px),
    lg: (min-width: 992px),
    xl: (min-width: 1200px),
    xxl: (min-width: 1400px),
);

// ********************
// Color Variables
// ********************
$black: #000; // Black used for quick-info background
$white: #fff; // White used for menu background
$orange: #FBAD05;
$brown: #331305;

// site variables
$default-text-size: 12px;
$important-text-size: 20px;
// mobile
$default-mobile-margin: 10px;
$default-mobile-padding: 10px;