// ********************
// BREAKPOINTS
// ********************
$breakpoints: ( //
        sm: 'min-width: 576px',
        md: 'min-width: 768px',
        lg: 'min-width: 992px',
        xl: 'min-width: 1200px',
        xxl: 'min-width: 1400px',
);
// ********************
// Content
// ********************
$content-max-width: 1200px;
$desktop-menu-on-top-height: 130px;
$desktop-menu-on-scroll-height: $desktop-menu-on-top-height - 50px;
// ********************
// Color Variables
// ********************
$black: #000;
$white: #fff;
$orange: #FBAD05;
$light-orange: #ffe593;
$brown: #331305;
$light-brown: #676767;
$gray: #707070;
$red: #bb3838;

// ********************
// Text variables
// ********************

// < sm
$xsm_first-category-text-size: 10vw;
$xsm_second-category-text-size: 7vw;
$xsm_third-category-text-size: 4vw;
// sm
$sm_first-category-text-size: 7vw;
$sm_second-category-text-size: 5.5vw;
$sm_third-category-text-size: 3vw;
// md
$md_first-category-text-size: 7vw;
$md_second-category-text-size: 3.5vw;
$md_third-category-text-size: 3vw;
// lg
$lg_first-category-text-size: 5vw;
$lg_second-category-text-size: 3vw;
$lg_third-category-text-size: 2vw;
// xl
$xl_first-category-text-size: 4vw;
$xl_second-category-text-size: 2vw;
$xl_third-category-text-size: 1.5vw;
// xxl
$xxl_first-category-text-size: 3.5vw;
$xxl_second-category-text-size: 1.75vw;
$xxl_third-category-text-size: 1.25vw;

// ********************
// margins and paddings
// ********************
// xsm
$xsm_margin: 15px;
$xsm_padding: 10px;
// sm
$sm_margin: 20px;
$sm_padding: 15px;
// md
$md_margin: 25px;
$md_padding: 20px;
// lg
$lg_margin: 30px;
$lg_padding: 25px;
// xl
$xl_margin: 35px;
$xl_padding: 30px;
// xxl
$xxl_margin: 40px;
$xxl_padding: 35px;

// other
$default-bold: bold;
$default-background-opacity: 0.3;